.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#252525;
}

.hrHome{
    margin-top: 50px;
    margin-bottom: 25px;
    width: 90vw;
    height: 3px;
    background-color: #f9fdfe;
    opacity: 0.8;
    border: transparent;
}

.Tittle{
    margin-top: 25px;
    margin-bottom: 0;
    text-align: center;
}

.subTittle{
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.logoHome{
margin-bottom: 40px;
}

.footerTittle{
    margin-bottom: 18px;
}