
body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: #0e0e0e;
    background-image: url("https://res.cloudinary.com/jaacker25/image/upload/v1588903754/GLOBAI/background_mbsp2d.webp");
    background-size: cover;
  
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


  /*Scroll Bar Perzonalized*/

  /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar:horizontal {
    height: 8px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #22546d; 
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track-piece{
  background: #e8f0fb;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1d3162; 
  }

  *{
      margin:0;
      padding: 0;
  }